.rock{
    border-style: solid;
    border-radius: 10px;
    width: 100px;
    height: auto;
    text-align:center;
    margin-bottom: 10px;
}
.si{
    border-style: solid;
    width: 100px;
    border-radius: 10px;
    height: auto;
    text-align:center;
    margin-bottom: 10px;
}
.paeper{
    border-style: solid;
    width: 100px;
    height: auto;
    border-radius: 10px;
    text-align:center;
}